<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>25056719970-dk5abljkc05kuejp5pi3oppgg0b0gtat.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.25056719970-dk5abljkc05kuejp5pi3oppgg0b0gtat</string>
	<key>API_KEY</key>
	<string>AIzaSyAjOuIhOobALrZVwtb2MhIwJ2FT5aBrZQ4</string>
	<key>GCM_SENDER_ID</key>
	<string>25056719970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.myclarity.app</string>
	<key>PROJECT_ID</key>
	<string>clarity-dev-1c905</string>
	<key>STORAGE_BUCKET</key>
	<string>clarity-dev-1c905.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25056719970:ios:76255e07c0e0bd1b71cd3b</string>
</dict>
</plist>